# Database
iris/target
iris/iris

# Artifacts
**/build
**/dist

# t and b
t/__TEST_SCRIPT__
buildScripts/__BUILD_SCRIPT__

# shell
shell/__DEPRECATED/raw/cmake-build-debug

# IDE
.idea

# Other
**/__pycache__
**/*.DS_Store
